@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

body,
.app {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.main {
  display: flex;
  gap: 2rem;
  height: calc(100vh - 70px);
}

.content {
  flex-grow: 1;
  padding: 1rem;
}
