.PageError {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 350px;
  height: 100vh;
  margin: 0 auto;
}

.PageErrorTitle {
  font-size: var(--font-size-l);
  text-align: center;
}
