.btn {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.sm {
  padding: 0.5rem 1rem;
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-s);
}

.lg {
  padding: 1.25rem 1rem;
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
}

.clear {
  width: fit-content;
  display: flex;
  padding: 0;
}

.primary {
  font-weight: var(--font-weight-bold);
  background-color: var(--color-yellow-400);
  border-radius: 0.5rem;
}

.secondary {
  font-weight: var(--font-weight-bold);
  background-color: var(--color-gray-100);
  border-radius: 0.5rem;
}

.fullWidth {
  width: 100%;
}
